
.each-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-attachment: local;
    height: 59vw;

}

.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}